<a href="https://colab.research.google.com/github/Rogerio-mack/IA_2023S2/blob/main/Aula_Resumo_Pandas2023S2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame({ 'alunos': [ 'Anna', 'Daniel', 'Adriana'],
                    'turma': [ '7G', '7G', '7N'],
                    'notas': np.array([9, 10, 10])})

df

    alunos turma  notas
0     Anna    7G      9
1   Daniel    7G     10
2  Adriana    7N     10

In [5]:
df.notas

0     9
1    10
2    10
Name: notas, dtype: int64

In [7]:
df.alunos

0       Anna
1     Daniel
2    Adriana
Name: alunos, dtype: object

In [9]:
df = pd.DataFrame()

df['alunos'] = [ 'Anna', 'Daniel', 'Adriana']
df['turma'] = [ '7G', '7G', '7N']
df['notas'] = np.array([9, 10, 10])

df

    alunos turma  notas
0     Anna    7G      9
1   Daniel    7G     10
2  Adriana    7N     10

In [12]:
!wget https://vincentarelbundock.github.io/Rdatasets/csv/DAAG/rice.csv

--2023-08-23 11:20:41--  https://vincentarelbundock.github.io/Rdatasets/csv/DAAG/rice.csv
Resolving vincentarelbundock.github.io (vincentarelbundock.github.io)... 185.199.108.153, 185.199.109.153, 185.199.110.153, ...
Connecting to vincentarelbundock.github.io (vincentarelbundock.github.io)|185.199.108.153|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3034 (3.0K) [text/csv]
Saving to: ‘rice.csv’

rice.csv            100%[===================>]   2.96K  --.-KB/s    in 0s

2023-08-23 11:20:41 (25.2 MB/s) - ‘rice.csv’ saved [3034/3034]

In [15]:
# df = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/DAAG/rice.csv',index_col=0)
df = pd.read_csv('/content/rice.csv',index_col=0)
df.head()

   PlantNo  Block  RootDryMass  ShootDryMass  trt fert variety
1        1      1           56           132  F10  F10      wt
2        2      1           66           120  F10  F10      wt
3        3      1           40           108  F10  F10      wt
4        4      1           43           134  F10  F10      wt
5        5      1           55           119  F10  F10      wt

In [16]:
df.head()

   PlantNo  Block  RootDryMass  ShootDryMass  trt fert variety
1        1      1           56           132  F10  F10      wt
2        2      1           66           120  F10  F10      wt
3        3      1           40           108  F10  F10      wt
4        4      1           43           134  F10  F10      wt
5        5      1           55           119  F10  F10      wt

In [17]:
df = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/MASS/Cars93.csv',index_col=0)
df.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
1,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,Front,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
4,Audi,100,Midsize,30.8,37.7,44.6,19,26,Driver & Passenger,Front,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,Rear,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i

In [18]:
df.shape

(93, 27)

In [19]:
len(df)

93

In [20]:
df.dtypes

Manufacturer           object
Model                  object
Type                   object
Min.Price             float64
Price                 float64
Max.Price             float64
MPG.city                int64
MPG.highway             int64
AirBags                object
DriveTrain             object
Cylinders              object
EngineSize            float64
Horsepower              int64
RPM                     int64
Rev.per.mile            int64
Man.trans.avail        object
Fuel.tank.capacity    float64
Passengers              int64
Length                  int64
Wheelbase               int64
Width                   int64
Turn.circle             int64
Rear.seat.room        float64
Luggage.room          float64
Weight                  int64
Origin                 object
Make                   object
dtype: object

In [21]:
df.describe(include='all')

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
count,93,93,93,93.000000,93.000000,93.000000,93.000000,93.000000,93,93,...,93.000000,93.000000,93.000000,93.000000,93.000000,91.000000,82.000000,93.000000,93,93
unique,32,93,6,NaN,NaN,NaN,NaN,NaN,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,93
top,Chevrolet,Integra,Midsize,NaN,NaN,NaN,NaN,NaN,Driver only,Front,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA,Acura Integra
freq,8,1,22,NaN,NaN,NaN,NaN,NaN,43,67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48,1
mean,NaN,NaN,NaN,17.125806,19.509677,21.898925,22.365591,29.086022,NaN,NaN,...,5.086022,183.204301,103.946237,69.376344,38.956989,27.829670,13.890244,3072.903226,NaN,NaN
std,NaN,NaN,NaN,8.746029,9.659430,11.030457,5.619812,5.331726,NaN,NaN,...,1.038979,14.602382,6.819674,3.778986,3.223265,2.989072,2.997967,589.896510,NaN,NaN
min,NaN,NaN,NaN,6.700000,7.400000,7.900000,15.000000,20.000000,NaN,NaN,...,2.000000,141.000000,90.000000,60.000000,32.000000,19.000000,6.000000,1695.000000,NaN,NaN
25%,NaN,NaN,NaN,10.800000,12.200000,14.700000,18.000000,26.000000,NaN,NaN,...,4.000000,174.000000,98.000000,67.000000,37.000000,26.000000,12.000000,2620.000000,NaN,NaN
50%,NaN,NaN,NaN,14.700000,17.700000,19.600000,21.000000,28.000000,NaN,NaN,...,5.000000,183.000000,103.000000,69.000000,39.000000,27.500000,14.000000,3040.000000,NaN,NaN
75%,NaN,NaN,NaN,20.300000,23.300000,25.300000,25.000000,31.000000,NaN,NaN,...,6.000000,192.000000,110.000000,72.000000,41.000000,30.000000,15.000000,3525.000000,NaN,NaN
max,NaN,NaN,NaN,45.400000,61.900000,80.000000,46.000000,50.000000,NaN,NaN,...,8.000000,219.000000,119.000000,78.000000,45.000000,36.000000,22.000000,4105.000000,NaN,NaN

In [ ]:
df.info()

In [25]:
df.isnull().sum()

Manufacturer           0
Model                  0
Type                   0
Min.Price              0
Price                  0
Max.Price              0
MPG.city               0
MPG.highway            0
AirBags                0
DriveTrain             0
Cylinders              0
EngineSize             0
Horsepower             0
RPM                    0
Rev.per.mile           0
Man.trans.avail        0
Fuel.tank.capacity     0
Passengers             0
Length                 0
Wheelbase              0
Width                  0
Turn.circle            0
Rear.seat.room         2
Luggage.room          11
Weight                 0
Origin                 0
Make                   0
dtype: int64

In [26]:
df = df.dropna()

df.shape

(82, 27)

In [27]:
df.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
1,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,Front,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
4,Audi,100,Midsize,30.8,37.7,44.6,19,26,Driver & Passenger,Front,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,Rear,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i

In [28]:
df.Manufacturer

1          Acura
2          Acura
3           Audi
4           Audi
5            BMW
         ...
88    Volkswagen
90    Volkswagen
91    Volkswagen
92         Volvo
93         Volvo
Name: Manufacturer, Length: 82, dtype: object

In [29]:
df['Manufacturer']

1          Acura
2          Acura
3           Audi
4           Audi
5            BMW
         ...
88    Volkswagen
90    Volkswagen
91    Volkswagen
92         Volvo
93         Volvo
Name: Manufacturer, Length: 82, dtype: object

In [30]:
c = 'Manufacturer'

df[c]

1          Acura
2          Acura
3           Audi
4           Audi
5            BMW
         ...
88    Volkswagen
90    Volkswagen
91    Volkswagen
92         Volvo
93         Volvo
Name: Manufacturer, Length: 82, dtype: object

In [32]:
for column in ['Min.Price','Price','Max.Price']:
  print(df[column].mean())

16.82682926829268
19.170731707317074
21.515853658536585

In [37]:
df['Manufacturer'].unique()

array(['Acura', 'Audi', 'BMW', 'Buick', 'Cadillac', 'Chevrolet',
       'Chrylser', 'Chrysler', 'Dodge', 'Eagle', 'Ford', 'Geo', 'Honda',
       'Hyundai', 'Infiniti', 'Lexus', 'Lincoln', 'Mazda',
       'Mercedes-Benz', 'Mercury', 'Mitsubishi', 'Nissan', 'Oldsmobile',
       'Plymouth', 'Pontiac', 'Saab', 'Saturn', 'Subaru', 'Suzuki',
       'Toyota', 'Volkswagen', 'Volvo'], dtype=object)

In [38]:
df['Manufacturer'].nunique()

32

In [39]:
df['Manufacturer'].value_counts()

Ford             7
Dodge            5
Chevrolet        5
Pontiac          5
Buick            4
Hyundai          4
Volkswagen       3
Toyota           3
Subaru           3
Mazda            3
Oldsmobile       3
Nissan           3
Honda            3
Mercury          2
Acura            2
Mitsubishi       2
Mercedes-Benz    2
Lincoln          2
Audi             2
Lexus            2
Geo              2
Eagle            2
Chrysler         2
Cadillac         2
Volvo            2
Infiniti         1
Plymouth         1
Saab             1
Saturn           1
Chrylser         1
Suzuki           1
BMW              1
Name: Manufacturer, dtype: int64

In [36]:
df['Price'].max()

61.9

In [40]:
df['Manufacturer']

1          Acura
2          Acura
3           Audi
4           Audi
5            BMW
         ...
88    Volkswagen
90    Volkswagen
91    Volkswagen
92         Volvo
93         Volvo
Name: Manufacturer, Length: 82, dtype: object

In [41]:
df[['Manufacturer']]

   Manufacturer
1         Acura
2         Acura
3          Audi
4          Audi
5           BMW
..          ...
88   Volkswagen
90   Volkswagen
91   Volkswagen
92        Volvo
93        Volvo

[82 rows x 1 columns]

In [42]:
df.columns

Index(['Manufacturer', 'Model', 'Type', 'Min.Price', 'Price', 'Max.Price',
       'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

In [43]:
df[['Manufacturer', 'Model', 'Price']]

   Manufacturer    Model  Price
1         Acura  Integra   15.9
2         Acura   Legend   33.9
3          Audi       90   29.1
4          Audi      100   37.7
5           BMW     535i   30.0
..          ...      ...    ...
88   Volkswagen      Fox    9.1
90   Volkswagen   Passat   20.0
91   Volkswagen  Corrado   23.3
92        Volvo      240   22.7
93        Volvo      850   26.7

[82 rows x 3 columns]

In [44]:
df_models = df[['Manufacturer', 'Model', 'Price']]
df_models.head()

  Manufacturer    Model  Price
1        Acura  Integra   15.9
2        Acura   Legend   33.9
3         Audi       90   29.1
4         Audi      100   37.7
5          BMW     535i   30.0

In [46]:
df_models[ df_models.Manufacturer == 'Chevrolet' ]

   Manufacturer     Model  Price
12    Chevrolet  Cavalier   13.4
13    Chevrolet   Corsica   11.4
14    Chevrolet    Camaro   15.1
15    Chevrolet    Lumina   15.9
18    Chevrolet   Caprice   18.8

In [51]:
df[ df.Price > 40 ]

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
11,Cadillac,Seville,Midsize,37.5,40.1,42.7,16,25,Driver & Passenger,Front,...,5,204,111,74,44,31.0,14.0,3935,USA,Cadillac Seville
48,Infiniti,Q45,Midsize,45.4,47.9,50.4,17,22,Driver only,Rear,...,5,200,113,72,42,29.0,15.0,4000,non-USA,Infiniti Q45
59,Mercedes-Benz,300E,Midsize,43.8,61.9,80.0,19,25,Driver & Passenger,Rear,...,5,187,110,69,37,27.0,15.0,3525,non-USA,Mercedes-Benz 300E

In [53]:
df[ (df.Price < 40 ) & (df.Price > 25) ][['Manufacturer', 'Model', 'Price']]

     Manufacturer        Model  Price
2           Acura       Legend   33.9
3            Audi           90   29.1
4            Audi          100   37.7
5             BMW         535i   30.0
9           Buick      Riviera   26.3
10       Cadillac      DeVille   34.7
22       Chrysler     Imperial   29.5
28          Dodge      Stealth   25.8
49          Lexus        ES300   28.0
50          Lexus        SC300   35.2
51        Lincoln  Continental   34.3
52        Lincoln     Town_Car   36.1
58  Mercedes-Benz         190E   31.9
63     Mitsubishi     Diamante   26.1
78           Saab          900   28.7
93          Volvo          850   26.7

In [54]:
df.Price.mean()

19.170731707317074

In [56]:
df[ df.Price > df.Price.mean() ][['Manufacturer', 'Type', 'Model', 'Price']]

     Manufacturer     Type           Model  Price
2           Acura  Midsize          Legend   33.9
3            Audi  Compact              90   29.1
4            Audi  Midsize             100   37.7
5             BMW  Midsize            535i   30.0
7           Buick    Large         LeSabre   20.8
8           Buick    Large      Roadmaster   23.7
9           Buick  Midsize         Riviera   26.3
10       Cadillac    Large         DeVille   34.7
11       Cadillac  Midsize         Seville   40.1
22       Chrysler    Large        Imperial   29.5
28          Dodge   Sporty         Stealth   25.8
30          Eagle    Large          Vision   19.3
37           Ford  Midsize          Taurus   20.2
38           Ford    Large  Crown_Victoria   20.9
41          Honda   Sporty         Prelude   19.8
48       Infiniti  Midsize             Q45   47.9
49          Lexus  Midsize           ES300   28.0
50          Lexus  Midsize           SC300   35.2
51        Lincoln  Midsize     Continental   34.3
52        Lincoln    Large        Town_Car   36.1
58  Mercedes-Benz  Compact            190E   31.9
59  Mercedes-Benz  Midsize            300E   61.9
63     Mitsubishi  Midsize        Diamante   26.1
67         Nissan  Midsize          Maxima   21.5
71     Oldsmobile    Large    Eighty-Eight   20.7
77        Pontiac    Large      Bonneville   24.4
78           Saab  Compact             900   28.7
82         Subaru  Compact          Legacy   19.5
90     Volkswagen  Compact          Passat   20.0
91     Volkswagen   Sporty         Corrado   23.3
92          Volvo  Compact             240   22.7
93          Volvo  Midsize             850   26.7

In [57]:
len( df[ df.Price > df.Price.mean() ][['Manufacturer', 'Type', 'Model', 'Price']] )

32

In [58]:
len( df[ df.Price > df.Price.mean() ][['Manufacturer', 'Type', 'Model', 'Price']] ) / len(df)

0.3902439024390244

In [59]:
df_select = df[ df.Price > df.Price.mean() ][['Manufacturer', 'Type', 'Model', 'Price']]
df_select.head()

  Manufacturer     Type    Model  Price
2        Acura  Midsize   Legend   33.9
3         Audi  Compact       90   29.1
4         Audi  Midsize      100   37.7
5          BMW  Midsize     535i   30.0
7        Buick    Large  LeSabre   20.8

In [60]:
df_select.Type.unique()

array(['Midsize', 'Compact', 'Large', 'Sporty'], dtype=object)

In [61]:
df_select[ df_select.Type == 'Midsize']['Price'].mean()

33.55714285714286